/**
 * 01. Structure
 * 02. Helpers
 */


// 01. Structure

html, body {
	font-family: $body;
	margin: 0;
	padding: 0;

	box-sizing: border-box;

	*, *:before, *:after {
		box-sizing: inherit;
	}
}

body {
	background: $lighter-gray;

	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;

	#header,
	#footer {
		flex: 0 0 auto;
	}

	#site {
		flex: 1 1 auto;
	}
}

#site {
	// min-height: 90vh;

	> section {
		padding: 1.5rem;
		
		&.splash {
			min-height: 100vh;
		}
		
		&.intro + section {
			padding: 3rem 1.5rem;
		}
	}

	.splash {
		background-image: linear-gradient( to bottom, lighten($lighter-gray, 50%), $lighter-gray 90% );
		align-items: center;
		justify-content: center;
		display: flex;
	}
}



// 02. Helpers

.is-auto-container {
	display: flex;

	> * {
		flex: 1 1 auto;
	}
}

.is-shrink-container {
	display: flex;
	
	> * {
		flex: 0 0 auto;
	}
}