/**
 * 01. Structure
 * 02. Social Menu
 */


// 01. Structure

#footer {
	margin-top: 2rem;
	padding-bottom: 1rem;
	position: relative;
}


// 02. Social Menu

#menu-social {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	list-style: none;
	margin: 0;

	.menu-item {
		a {
			text-decoration: none;
		}

		+ .menu-item {
			margin-left: .75rem;
		}
	}
}

.wp-block-navigation-item a:before,
.menu-item a:before {
	@include icon-font;
}

@each $network in $social-map {
	.network-#{$network} a:before {
		content: map-get($icons-map, $network);

		margin-right: .25rem;
	}
}