/**
 * 01. Base Grid
 */

// 01. Base Grid

.grid {
	display: flex;
	flex-wrap: wrap;
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
	padding: 0 1.5rem;
	gap: 2rem;
	
	.cell {
		flex: 1 1 auto;
		
		&.half {
			flex: {
				basis: 50%;
				grow: 0;
			};
		}
		
		&.third {
			flex: {
				basis: 33.333%;
				grow: 0;
			};
		}
		
		&.quarter {
			flex: {
				basis: 25%;
				grow: 0;
			};
		}

		&.auto {
			flex-basis: min-content;
		}
		
		&.shrink {
			flex-grow: 0;
		}
		
		&.fill {
			flex-grow: 1;
		}

		@media #{$mobile_break} {
			flex: 1 1 100% !important;

			@for $i from 1 through 3 {
				&.mobile-order-#{$i} {
					order: $i;
				}
			}
		}
	}
}