/**
 * 01. Colors
 * 02. Breakpoints
 */


// 01. Colors

$white: #ffffff;
$lighter-gray: #e8e8e8;
$light-gray: #d1d1d1;
$gray: #8b8b8b;
$dark-gray: #2e2e2e;
$black: #000000;


// 02. Breakpoints

$mobile_break: 'screen and (max-width: 768px)';