@import '../../assets/scss/config/config';

.projects-grid {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -1rem;

	.project {
		flex: 1 1 100%;
		padding: 0 1rem;

		@media #{$large_desktop} {
			flex: 0 0 33.333333%;
		}

		@media #{$small_desktop} {
			flex: 0 0 50%;
		}

		&__inner {
			display: flex;
			flex-wrap: wrap;
			height: 100%;
			margin-bottom: .75rem;
			padding-bottom: .75rem;
			border-bottom: 1px solid;
		}

		&__summary,
		&__links {
			flex: {
				basis: 100%;
				grow: 1;
			};
		}

		&__summary {
			align-self: flex-start;
		}

		&__links {
			align-self: flex-end;
		}
	}
}